// Imoportacion de modulos con @import.
//Variables.
@import 'utilities/variables';

// layout.
@import 'components/header';
@import 'components/nav';
@import 'components/footer';

//  Sections.
@import 'sections/contacto';
@import 'sections/experiencia';
@import 'sections/formacion';
@import 'sections/proyectos';
@import 'sections/sobreMi';

//  Media querys.
@import 'utilities/mediaquerys';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

section {
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}