/* Sección Proyectos */
#proyectos {
    padding: 40px 20px;
    margin: 0 auto;

    h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: $subtitulos;
        color: $azul;
        padding-bottom: 15px;
        border-bottom: 4px solid $azul;
    }
}

/* Tarjeta de Proyecto */
.project-card {
    background: $blanco;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    h3 {
        margin-top: 0;
        color: $azul;
        font-size: 1.5em;
    }

    p {
        line-height: 1.6;
    }

    h4 {
        margin-top: 20px;
        color: $negro;
        font-size: 1.2em;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            background: #f4f4f9;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            max-width: 100%;
        }
    }
}

.project-links {
    margin-top: 20px;

    .btn {
        display: inline-block;
        margin-right: 10px;
        padding: 10px 20px;
        color: #fff;
        background: #007BFF;
        text-decoration: none;
        border-radius: 5px;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: #0056b3;
        }
    }
}



/* Tarjeta de Proyecto */
/* Sección Proyectos */