/* Seccion Sobre mi */
#sobre-mi {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.2);
}

#sobre-mi h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #005d6e; /* Color Azul */
    text-align: center;
}

#sobre-mi h3 {
    background-color: #005d6e; /* Color Azul */
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
}

.tecnologia-group {
    flex: 1;
    margin: 20px;
}

.tecnologia-group h4 {
    font-size: 1.2em;
    color: #78b7c5; /* Color Azul Clarito */
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.tecnologia-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    transition: transform 0.2s;
}

.tecnologia-item:hover {
    transform: translateY(-3px);
}

.tecnologia-item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 4px;
    background-color: #eee;
    padding: 5px;
    transition: transform 0.2s, background-color 0.2s;
}

.tecnologia-item img:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
}

.tecnologia-item p {
    font-size: 1em;
    color: #333;
    margin: 0;
    flex: 1;
}
    