@media (max-width: 780px) {
    .menu-toggle {
        display: flex;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section .formacion-item1 img.logo,section .formacion-item2 img.logo {
        width: 25%;
    }

}

@media (min-width: 1000px) {

    section .formacion-item1 img.logo,section .formacion-item2 img.logo {
        width: 20%;
    }

    .level-bar {
        width: 200px;
    }
}

@media (min-width: 1200px) {
    section .formacion-item1 img.logo,section .formacion-item2 img.logo {
        width: 15%;
    }

    .level-bar {
        width: 300px;
    }
}