/* NAV y Hamburguesa */
nav {
    background: $azul;
    padding: 5px 20px;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 15px;

            a {
                font-size: 1.25em;
                color: #fff;
                text-decoration: none;
                padding: 15px;
                display: block;
                transition: all 0.25s ease;

                &:hover {
                  background: $blanco;
                  color: $azul;
                  border-radius: 12px;
                  transform: scale(1.1); 
                }
              
                &:active {
                  background: $blanco;
                  color: $azul;
                  border-radius: 12px;
                  transform: scale(1.1); 
                }
              }
              

        }

    }
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 3px;

    .bar {
        width: 25px;
        height: 3px;
        background: $blanco;
        margin: 4px 0;
    }
}





/* NAV y Hamburguesa */